<a href="https://colab.research.google.com/github/hajsf/Time-Series-Forecast/blob/main/02_MergeDataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount google drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import glob
import numpy as np
import pickle

**Read the dataframe from the pickle file**

In [3]:
path = "/content/drive/MyDrive/ColabNotebooks/dataset/01_GatheredData/"

In [4]:
with open(path + '2022Sales.pk', 'rb') as f:
  data2022 = pickle.load(f)
print("number of records:", len(data2022))

number of records: 900898

In [5]:
with open(path + '2021Sales.pk', 'rb') as f:
  data2021 = pickle.load(f)
print("number of records:", len(data2021))

number of records: 1894813

In [6]:
with open(path + '2020Sales.pk', 'rb') as f:
  data2020 = pickle.load(f)
print("number of records:", len(data2020))

number of records: 1762154

In [7]:
with open(path + '2019Sales.pk', 'rb') as f:
  data2019 = pickle.load(f)
print("number of records:", len(data2019))

number of records: 1478528

In [ ]:
#with open(path + '20161718Sales.pk', 'rb') as f:
#  data20161718 = pickle.load(f)
#print("number of records:", len(data20161718))

In [8]:
frames = [data2022, data2021, data2020, data2019]

In [9]:
data = pd.concat(frames) #, keys=['ITEM_ID', 'SLS_CNTR_ID', 'DATE1'])
print("number of records:", len(data))

number of records: 6036393

In [ ]:
#data[['SLS_CNTR_ID']] = data[['SLS_CNTR_ID']].astype(int, errors = 'raise')

In [10]:
data.dtypes

ITEM_ID                object
SLS_CNTR_ID             int64
DATE1          datetime64[ns]
QTY                   float64
TTL_VAL               float64
TTL_CST               float64
dtype: object

In [11]:
data.head()

  ITEM_ID  SLS_CNTR_ID      DATE1  QTY  TTL_VAL  TTL_CST
0    0020           13 2022-01-12  1.0     35.0    26.25
1    0020           13 2022-02-08  1.0     35.0    26.25
2    0020           13 2022-02-27  2.0     70.0    52.50
3    0020           13 2022-04-07  1.0     35.0    26.25
4    0020           13 2022-04-16  1.0     35.0    26.25

**Save dataframe to pickle file**

In [13]:
path = "/content/drive/MyDrive/ColabNotebooks/dataset/05_TrainedModel/"

In [14]:
with open(path + 'data.pk', 'wb') as f:
  pickle.dump(data, f)