<a href="https://colab.research.google.com/github/hajsf/Time-Series-Forecast/blob/main/03_CheckUnrequiredColumnsAreDropped.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount google drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import glob
import numpy as np
import pickle

**Read the dataframe from the pickle file**

In [ ]:
path_generated = "/content/drive/MyDrive/ColabNotebooks/dataset/02_ProcessedData/"

In [ ]:
with open(path_generated + 'data.pk', 'rb') as f:
  data = pickle.load(f)
print("Number of recotds:", len(data))

Number of recotds: 7288431

In [ ]:
data.head()

  ITEM_ID  SLS_CNTR_ID      DATE1  QTY  TTL_VAL  TTL_CST
0    0020           13 2022-01-12  1.0     35.0    26.25
1    0020           13 2022-02-08  1.0     35.0    26.25
2    0020           13 2022-02-27  2.0     70.0    52.50
3    0020           13 2022-04-07  1.0     35.0    26.25
4    0020           13 2022-04-16  1.0     35.0    26.25